$black: #000;
$white: #fff;
$purple-300: #08050E;
$purple-200: #4b2bc4;
$purple-100: #7E4AE6;
$green-100: #a6e12d;
$blue-100: #00d7ff;
$pink-100: #be2ec6;
$background-color: $purple-300;
$primary-text-color: $white;
$primary-text-color-inverted: $purple-300;

$screen-bp-md: 768px;
$screen-bp-lg: 1024px;
$screen-bp-xl: 1440px;

$border-radius-sm: 0.25em;
$border-radius-md: 0.5em;
$border-radius-lg: 0.75em;

$primary-font-stack: 'Roboto', 'Open Sans', Helvetica, Arial, sans-serif;
$monospace-font-stack: 'Inconsolata', 'Roboto Mono', monospace;
