    <footer class="site-footer">
      <div class="site-footer__attribution">
        <div>Powered by:</div>
        <a href="https://www.themoviedb.org/"><img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_1-8ba2ac31f354005783fab473602c34c3f4fd207150182061e425d366e4f34596.svg" /></a>
      </div>
    </footer>
    <script>
      (function(){
        function bindNavButtons() {
          const navOpenButton = document.querySelector('.open-nav-button');
          navOpenButton.addEventListener('click', function() {
            document.getElementById("nav-menu").style.height = "100%";
          });
    
          const navCloseButton = document.querySelector('.nav-menu__close');
          navCloseButton.addEventListener('click', function() {
            document.getElementById("nav-menu").style.height = "0%";
          });
        }
  
        function bindRibbon() {
          /* Show color ribbon on scroll past header */
          window.onscroll = () => {
            const ribbon = document.querySelector('.ribbon');
            const RIBBON_START = 85;
            if (document.body.scrolTop >= RIBBON_START || document.documentElement.scrollTop >= RIBBON_START) {
              ribbon.classList.add('sticky');
            } else {
              ribbon.classList.remove('sticky');
            }
          };
        }
        
        window.onload = function() {
          bindNavButtons();
          bindRibbon();
        };
      })();
    </script>
  </body>
</html>
