    <footer class="site-footer">
      <div class="site-footer__attribution">
        <div class="site-footer__attribution-source">
          <div>Powered by:</div>
          <a href="https://www.themoviedb.org/" target="_blank"><img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_1-8ba2ac31f354005783fab473602c34c3f4fd207150182061e425d366e4f34596.svg" /></a>
        </div>
        <div class="site-footer__attribution-source">
          <div>Built and Maintained by:</div>
          <a href="https://6rian.com/" class="nav-menu__link" target="_blank">6rian.com</a>
        </div>        
      </div>
      <ul class="site-footer__nav">
        <li><a href="/" class="nav-menu__link">Home</a></li>
        <li><a href="/browse/documentary" class="nav-menu__link">Documentaries</a></li>
        <li><a href="/browse/docuseries" class="nav-menu__link">Docuseries</a></li>
        <li><a href="/browse/movie" class="nav-menu__link">Movies</a></li>
        <li><a href="/browse/show" class="nav-menu__link">TV Shows</a></li>
        <li><a href="/about" class="nav-menu__link">About</a></li>
      </ul>
    </footer>
    <script src="/bundle.js"></script>
    <script>window.client.init(window.viewLocals.view);</script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4Z9HEKLB7C"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-4Z9HEKLB7C');
    </script>    
  </body>
</html>
