<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- locals.title -%></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;900&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <script>
      try {
        window.viewLocals = JSON.parse(`<%- JSON.stringify(locals) -%>`);
      } catch (e) {
        console.error(e);
      }
    </script>
  </head>
  <body>
    <nav id="nav-menu" class="nav-menu">
      <a href="javascript:void(0)" class="nav-menu__close nav-menu__link">&times;</a>
      <div class="nav-menu__content">
        <a href="/" class="nav-menu__link">Home</a>
        <a href="#" class="nav-menu__link">About</a>
        <a href="/browse/documentary" class="nav-menu__link">Documentaries</a>
        <a href="/browse/docuseries" class="nav-menu__link">Docuseries</a>
        <a href="/browse/movie" class="nav-menu__link">Movies</a>
        <a href="/browse/show" class="nav-menu__link">TV Shows</a>
      </div>
    </nav>
    <div class="ribbon"></div>
    <header class="site-header">
      <a href="/" title="<%- locals.title -%>">
        <img src="/images/logo.svg" alt="HackerFlix Logo" />
      </a>
      <div class="open-nav-button">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </header>