<%- include('includes/header'); -%>

<main class="page page__about">
  <div class="row">
    <h1>About HackerFlix</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin convallis sodales gravida. Sed sem sapien, ultrices eu nulla a, dapibus consectetur neque. Ut congue dui a enim posuere sagittis. Donec at urna non ipsum faucibus aliquet a a lectus. Sed pellentesque aliquet orci, eu bibendum orci laoreet eget. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec eu mattis elit, at dignissim lorem. Donec cursus nisi sed dui viverra, eu sodales dolor mattis. Mauris id vehicula ex.</p>
    <p>Praesent fermentum tincidunt metus eget maximus. Curabitur ut porta metus. Quisque convallis dignissim purus, eget aliquam dolor vestibulum vel. In porta, dui quis ullamcorper rutrum, ex quam condimentum sem, non imperdiet velit arcu nec nulla. Etiam dictum sed ex et dignissim. Sed sed felis lorem. Sed convallis condimentum lacus, in ultrices mauris dignissim vitae. Nullam ac porttitor massa.</p>
  </div>
</main>

<%- include('includes/footer'); -%>
