<%- include('includes/header'); -%>

<main class="page page__view">
  <div class="row">
    <div class="details-section">
      <p class="details-section__tagline">
        This project is under active development. More info coming soon!
      </p>
    </div>
    <div class="details-section">
      <h1 class="details-section__heading">📺 About HackerFlix</h1>   
      <p>HackerFlix is a curated directory of documentaries, docuseries, movies, and tv shows about computers, hacking, technology, privacy, cyberpunk and Internet culture. Most of the imagery and data is provided via <a href="https://www.themoviedb.org/" target="_blank">The Movie DB</a>.</p>
    </div>
    <div class="details-section">
      <h1 class="details-section__heading">👋 Contributors Welcome</h1>   
      <p>Have a recommendation to add to the directory? Or want to help with <a href="https://github.com/6rian/hackerflix" target="_blank">development</a>? Please <a href="https://www.6rian.com/whois/" target="_blank">reach out</a>!</p>
    </div>  
  </div>
</main>

<%- include('includes/footer'); -%>
