<%- include('includes/header'); -%>

<main class="page page__homepage">
  <section class="hero">
    <h1>Search The Largest Database of Hacker Films Online</h1>
    <form class="hero__form">
      <input type="text" class="hero__form__input" placeholder="Search...">
      <button class="hero__form__button">Search</button>
    </form>
  </section>
  <div class="row">
    <section class="results-grid">
      <!-- <div class="results-grid__settings">
        <div class="results-grid__filters">
          Filters
        </div>
        <div class="results-grid__sort">
          Sort
        </div>
      </div> -->
      <div class="results-grid__grid">
        <!-- <div class="results-grid__card">
          <div class="results-grid__card-poster"></div> 
          <div class="results-grid__card-headline">Card</div>
        </div> -->
      </div>
    </section>
  </div>
</main>

<script>
  const GRID_CLASS = 'results-grid__grid';
  const CARD_CLASS = 'results-grid__card';
  const CARD_POSTER_CLASS = 'results-grid__card-poster';
  const CARD_HEADLINE_CLASS = 'results-grid__card-headline'; 

  (async () => {
    try {
      const API_ENDPOINT = '/api/flick';
      const data = await fetch(API_ENDPOINT);
      const {data: flicks} = await data.json();

      const grid = document.querySelector(`.${GRID_CLASS}`);

      flicks.forEach(flick => {
        console.log({title: flick.title, posterPath: flick.posterPath});

        const card = document.createElement('a');
        card.className = CARD_CLASS;
        card.href = `/flick/${flick.slug}`;
        card.title = flick.title;

        const poster = document.createElement('div');
        poster.classList.add(CARD_POSTER_CLASS);
        poster.style.backgroundImage = flick.posterPath
          ? `url(https://image.tmdb.org/t/p/w500${flick.posterPath})`
          : `url(https://dummyimage.com/400x660/fff/aaa)`;
        card.appendChild(poster);

        const headline = document.createElement('div');
        headline.classList.add(CARD_HEADLINE_CLASS);
        headline.textContent = flick.title;
        card.appendChild(headline);

        grid.appendChild(card);
      });

    } catch (e) {
      console.error('Major Failure: Could not load flicks: ', e);
    }
  })();
</script>

<%- include('includes/footer'); -%>