<%- include('includes/header'); -%>

<main class="page page__homepage">
  <section class="hero">
    <h1>Search The Largest Database of Hacker Films Online</h1>
    <form class="hero__form" method="get" action="/">
      <input type="text" name="q" class="hero__form__input" placeholder="Search..." value="<%- query -%>" />
      <button class="hero__form__button">Search</button>
    </form>
  </section>
  <div class="row">
    <section class="results-grid">
      <div class="results-grid__error"></div>
      <div class="results-grid__grid">
        <!-- <div class="results-grid__card">
          <div class="results-grid__card-poster"></div> 
          <div class="results-grid__card-headline">Card</div>
        </div> -->
      </div>
      <button class="results-grid__load-more-button">Load More</button>
    </section>
  </div>
</main>

<%- include('includes/footer'); -%>
